<div class="product-details" *ngIf="product">
    <div class="image-container">
      <img [src]="product.imgURL" alt="{{ product.title }}" />
    </div>
    <div class="details">
      <h1>{{ product.title }}</h1>
      <p class="price">Price: ${{ product.price }}</p>
      <p class="category">Category: {{ product.category }}</p>
      <p class="description">{{ product.description }}</p>
      <button (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
  
  <div *ngIf="!product" class="loading">
    Loading product details...
  </div>

  <!-- <a routerLink="/product" >See All Products</a> -->